{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    New Applications
{% endblock title %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock navbar %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-md-3" style="left:-13px;">
                {% include 'adminuser/sidebar.html' %}
            </div>
            <div class="col-sm-12 col-md-10" style="top:95px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 offset-md-4 col-lg-11 offset-lg-0" style="position:absolute;z-index:1;">
                            <h3 class="font-weight-bold text-secondary text-right">Available Users</h3>
                            <table class="table table-hover border">
                                <thead class="thead-light">
                                    <tr>
                                        <th>AID</th>
                                        <th>Package Name</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>License Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in applications %}
                                        <tr>
                                            <td>{{application.id}}</td>
                                            <td>{{application.package}}</td>
                                            <td>{{application.name}}</td>
                                            <td>{{application.email}}</td>
                                            <td>{{application.phone}}</td>
                                            <td>{{application.gender}}</td>
                                            <td>{{application.age}}</td>
                                            <td>{{application.licenseno}}</td>
                                            <td>
                                                <a href="{% url 'available-user-detail' application.id %}" class="btn border" style="color:grey;"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div> 
            </div>

        </div>
    </div>
{% endblock content %}



   